<%- include ("partials/header") %>
<%- include ("partials/navbar") %>

<div class="mainContainer2">

    <div class = "errors">
       

        <% if(success_msg.length !=0 ){ %>
            <div class="animated fadeOut message">
                <% console.log(success_msg); %>
                <%= success_msg %>
            </div>
        <% } %>

        <% if(error_msg.length!=0){ %>
            <div class="animated fadeOut message">
                <%= error_msg[0] %>
                <% console.log(error_msg); %>
            </div>
        <% } %>

        <% if(error.length!=0){ %>
            <div class="animated fadeOut message">
                <%= error %>
                <% console.log(error); %>
            </div>
        <% } %>

    </div>
   

    <div class="loginContainer2">

            <h1>Instructor Dashboard</h1>
            <br>
            <a href="/createnewform"> <button type="submit" id="SubmitBtn2" class="btn btn-primary">Create New Feedback Form</button> </a>
            <br><br>
            <a href="/view"> <button type="submit" id="SubmitBtn2" class="btn btn-primary">View Filled Feedback Forms</button> </a> 
    </div>

    
</div>
 


