<%- include ("partials/header") %>
<%- include ("partials/navbar") %>

<div class="mainContainer2">

<div class="loginContainer2">
    <form class="loginForm" action="/fill/<%=id%>" method="post">
        <span class="loginHeading">Feedback Form</span>
        <h5>Form Id : <%=id%></h5>

        <%var len = questionArray.length%>

        <h7>Created on <%=date%> </h7><br><br>

        <%for(var i=0; i<len; i++){%>
            <div class="form-group">
                <label for="exampleInputPassword1" class="label"><%=questionArray[i].question.text%></label>



               
                <div id="full-stars-example-two">
                <div class="rating-group">
                    <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="" type="radio">
                   
                    <label aria-label="1 star" class="rating__label" for="rating3-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    <input class="rating__input" name="rating<%=i+1%>" id="rating3-1" value="1" type="radio">

                    <label aria-label="2 stars" class="rating__label" for="rating3-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    <input class="rating__input" name="rating<%=i+1%>" id="rating3-2" value="2" type="radio">

                    <label aria-label="3 stars" class="rating__label" for="rating3-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    <input class="rating__input" name="rating<%=i+1%>" id="rating3-3" value="3" type="radio">

                    <label aria-label="4 stars" class="rating__label" for="rating3-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    <input class="rating__input" name="rating<%=i+1%>" id="rating3-4" value="4" type="radio">

                    <label aria-label="5 stars" class="rating__label" for="rating3-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    <input class="rating__input" name="rating<%=i+1%>" id="rating3-5" value="5" type="radio">
                </div>
                <br>
                <input type="text" value="" name="star<%=i+1%>" placeholder="Enter star value" required>

                <textarea type="text" class="form-control" id="exampleInputPassword1" name="question<%=i+1%>" placeholder="Enter your response" required></textarea> <br>
                


                


             </div>
        <%} %>
         

        <button type="submit" id="SubmitBtn" class="btn btn-success">Submit</button>
    </form>
    
</div>

</div>
<%- include ("partials/footer") %>
