<%- include ("partials/header") %>


<div class="mainContainer1">
    <nav class="navbar navbar-light bg-light">
       <a class="navbar-brand navTop">
       <img src="/images/logo1.png" class="navLogo d-inline-block align-top" alt="">
       <span class="navbarTitle">Feedback System</span>
       </a>
       <form action="/logOut" method="post">
           <button type="submit" class="logoutBtn btn btn-outline-success">Logout</button>
       </form>
    </nav>

<div class="mainContainer2">

<div class="loginContainer2">
    <form class="loginForm" action="/fill/<%=id%>" method="post">
        <span class="loginHeading">Feedback Form</span>
        <h5>Form Id : <%=id%></h5>

        <%var len = questionArray.length%>

        <h7>Created on <%=date%> </h7><br><br>


        <%for(var i=0; i<len; i++){%>

            
            <div class="form-group">
                <!-- <label for="exampleInputPassword1" class="label"><%=questionArray[i].question.text%></label> -->
                <h5><%=questionArray[i].question.text%></h5>

                   <h7>Rating</h7> <br>
                
                    <input type="radio" id="star5" name="star<%=i+1%>" value="1" required />
                    <label for="star5" title="text">1</label>
                    <input type="radio" id="star4" name="star<%=i+1%>" value="2" />
                    <label for="star4" title="text">2</label>
                    <input type="radio" id="star3" name="star<%=i+1%>" value="3" />
                    <label for="star3" title="text">3</label>
                    <input type="radio" id="star2" name="star<%=i+1%>" value="4" />
                    <label for="star2" title="text">4</label>
                    <input type="radio" id="star1" name="star<%=i+1%>" value="5" />
                    <label for="star1" title="text">5</label>
                

                <textarea type="text" class="form-control" id="exampleInputPassword1" name="question<%=i+1%>" placeholder="Enter your response" required></textarea> <br>
            </div>
        <%} %>
         

        <!-- Button trigger modal -->
    <button type="button" id="SubmitBtn" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
        Submit
      </button>
  
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Submit Responses</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                 <h7 style="color: black;">You cannot delete or edit your responses later. Are you sure ?</h7>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button class="btn btn-primary">Submit</button></a>
            </div>
          </div>
        </div>
      </div>


        
    </form>
    
</div>

</div>
<%- include ("partials/footer") %>
